/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 40px;
}


/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255, 255, 255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}


/* Custom Horizontal Rule */

hr.small {
    max-width: 100px;
}


/* Header */

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 93%;
    overflow-y: auto;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/* Footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 7%;
    min-height: 50px;
}

.body-wrapper {
    width: 100%;
    height: 100%;
}

input {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
}

.header.sunny {
    background: url(../img/bg.jpg) no-repeat center center scroll;
}

.header.clear-day {
    background: steelblue;
}

.header.clear-night {
    background: #8f61a5;
}

.header.partly-cloudy-day {
    background: paleturquoise;
}

.header.partly-cloudy-night {
    background: #3678A2;
}

.header.cloudy {
    background: lightblue;
}

.header.rain {
    background: lightblue;
}

.header.sleet {
    background: darkgray;
}

.header.snow {
    background: #ececec;
}

.header.wind {
    background: skyblue;
}

.header.fog {
    background: lightgray;
}

.thumbnail {
    padding: 0;
    border: none;
    margin: 15px;
}

.list-group-flush {
    float: right;
    width: 50%;
}

.card-img-left {
    float: left;
    margin-right: 5px;
}